
@media (min-width: 900px){
    .root{
        margin: 0% 15%;
        width: 850px;
    }
}

@media (max-width: 899px) and (min-width: 701px) {
    .root {
        margin: 0% 5%;
        width: 650px;
    }
}

@media (max-width: 700px) and (min-width: 500px) {
    .root {
        margin: 0% 5%;
        width: 550px;
    }
}

@media (max-width: 500px) {
    .root {
        margin: 0% 1%;
        width: 400px;
    }
}

.textField{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

/* @media (max-width: 900px) and (min-width: 500px) {
    .textField {
        margin-left: 5px;
        margin-right: 5px;
        width: 30%;
    }
}

@media (max-width: 500px) {
    .textField {
         margin-left: 2%;
        margin-right: 2%; 
        width: 90%;
    }
} */