.body{
    background-image: url('../images/ad6.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%
}

.login{
    margin: 12% 35%;
}

@media (max-width: 900px) and (min-width: 500px) {
    .login {
        margin: 15% 15%;
    }
}

@media (max-width: 500px) {
    .login {
        margin: 15% 5%;
    }
}

.h1{
    font-size: 2.4rem;
    font-Weight: 1;
    /* color: blue; */
    /* color:  rgb(230, 44, 19); */
    color:  rgb(250, 246, 245);
    text-align: center;  
    font-weight: 3;
    font-family: Georgia, 'Times New Roman', Times, serif;  
}

.button{
    margin-top: 15%;
}

