
body{
    background-image: url('../images/ad6.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

h1{
    color: red;
}
    
h2{
    color: blue;
}

.alert{
    color: red
}